.form {
    &__input:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem; //większy padding po bokach, żeby elementy wyglądały lepiej
        border-radius: 2px;
        background-color: rgba($colr-white, .5);
        border: none;
    }

    &__input:focus {
        outline: none; //usuwamy niebieską ramkę z inputa (kiedy na niego klikamy)
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary;
    }

    &__label {

    }
}