.popup {
    height: 100vh;
    width: 100%;//nie muszę tego wpisywać
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;

    &__content {
        @include center-hirizontal-vertical;
        width: 75%;
        box-shadow: 0 2rem 4rem rgba($color-black, .8);
        background-color: $color-white;
        border-radius: 5px;
    }

    &__left {
        width: 33.3%;
    }

    &__img {
        display: block;
        width: 100%;

    }
}